/* Define styles for the table header */
.table-custom {
  border-collapse:separate;
  border-spacing:0 5px;
  max-width: 1000px;
}

.table-custom, 
.table-custom th, 
.table-custom td {
  border: none !important;
}
.table-custom thead th {
    background-color: transparent; /* Cambia el color de fondo del header */
    color: black; /* Cambia el color del texto del header */
    padding: 10px; /* Agrega un padding para mejorar la apariencia */
    text-align: center;
  }
  
  /* Define styles for the table body */
  .table-custom tbody tr {
    background-color: #f2f2f2; /* Cambia el color de fondo de las filas */
  }
  
  .table-custom tbody tr:nth-child(even) {
    background-color: #e6e6e6; /* Alterna el color de fondo de las filas pares */
  }
  
  .table-custom tbody tr:hover {
    background-color: #ddd; /* Cambia el color de fondo al pasar el cursor por encima */
  }
  
  .table-custom th, .table-custom td {
    border: 1px solid #ddd; /* Agrega un borde a las celdas */
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 8px; /* Agrega padding a las celdas */
    vertical-align: middle;
  }

  tr td:first-child { border-top-left-radius: 10px; }
  tr td:last-child { border-top-right-radius: 10px; }
  tr td:first-child { border-bottom-left-radius: 10px; }
  tr td:last-child { border-bottom-right-radius: 10px; }